In [17]:
from pycaret.classification import *

In [18]:
import pandas as pd

In [19]:
# df = pd.read_csv('diabetes_binary_5050split_health_indicators_BRFSS2015.csv')
df = pd.read_csv('dataset/ispu_dki1.csv')

In [20]:
df.head()

,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori,pm25
0,2010-01-01,DKI1 (Bunderan HI),60.0,4.0,73.0,27.0,14.0,73.0,CO,SEDANG,NaN
1,2010-01-02,DKI1 (Bunderan HI),32.0,2.0,16.0,33.0,9.0,33.0,O3,BAIK,NaN
2,2010-01-03,DKI1 (Bunderan HI),27.0,2.0,19.0,20.0,9.0,27.0,PM10,BAIK,NaN
3,2010-01-04,DKI1 (Bunderan HI),22.0,2.0,16.0,15.0,6.0,22.0,PM10,BAIK,NaN
4,2010-01-05,DKI1 (Bunderan HI),25.0,2.0,17.0,15.0,8.0,25.0,PM10,BAIK,NaN

In [21]:
setup_1 = setup(data=df, target='categori')

In [22]:
best_model = compare_models()

In [23]:
tuned_model = tune_model(best_model)

Fitting 10 folds for each of 10 candidates, totalling 100 fits