In [1]:
from pycaret.classification import *

In [2]:
import pandas as pd

#### 1. air condition

In [3]:
df_air = pd.read_csv('dataset/ispu_dki1.csv')
df_air.head()

,tanggal,stasiun,pm10,so2,co,o3,no2,max,critical,categori,pm25
0,2010-01-01,DKI1 (Bunderan HI),60.0,4.0,73.0,27.0,14.0,73.0,CO,SEDANG,NaN
1,2010-01-02,DKI1 (Bunderan HI),32.0,2.0,16.0,33.0,9.0,33.0,O3,BAIK,NaN
2,2010-01-03,DKI1 (Bunderan HI),27.0,2.0,19.0,20.0,9.0,27.0,PM10,BAIK,NaN
3,2010-01-04,DKI1 (Bunderan HI),22.0,2.0,16.0,15.0,6.0,22.0,PM10,BAIK,NaN
4,2010-01-05,DKI1 (Bunderan HI),25.0,2.0,17.0,15.0,8.0,25.0,PM10,BAIK,NaN

In [4]:
setup_1 = setup(data=df_air, target='categori')

In [5]:
best_model_1 = compare_models()

In [6]:
# tuned_model_1 = tune_model(best_model_1)

#### 2. Healthcare-diabetes

In [7]:
df_hd = pd.read_csv('dataset/Healthcare-Diabetes.csv')
df_hd.head()

,Id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,6,148,72,35,0,33.6,0.627,50,1
1,2,1,85,66,29,0,26.6,0.351,31,0
2,3,8,183,64,0,0,23.3,0.672,32,1
3,4,1,89,66,23,94,28.1,0.167,21,0
4,5,0,137,40,35,168,43.1,2.288,33,1

In [8]:
setup_2 = setup(data=df_hd, target='Outcome')

In [9]:
best_model_2 = compare_models()

In [10]:
# tuned_model_2 = tune_model(best_model_2)

#### 3. diabetes_data.csv

In [11]:
df_diabetes = pd.read_csv('dataset/diabetes_data.csv')
df_diabetes.head()

,Age,Sex,HighChol,CholCheck,BMI,Smoker,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,GenHlth,MentHlth,PhysHlth,DiffWalk,Stroke,HighBP,Diabetes
0,4.0,1.0,0.0,1.0,26.0,0.0,0.0,1.0,0.0,1.0,0.0,3.0,5.0,30.0,0.0,0.0,1.0,0.0
1,12.0,1.0,1.0,1.0,26.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0
2,13.0,1.0,0.0,1.0,26.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,10.0,0.0,0.0,0.0,0.0
3,11.0,1.0,1.0,1.0,28.0,1.0,0.0,1.0,1.0,1.0,0.0,3.0,0.0,3.0,0.0,0.0,1.0,0.0
4,8.0,0.0,0.0,1.0,29.0,1.0,0.0,1.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
setup_3 = setup(data=df_diabetes, target='Diabetes')

In [13]:
best_model_3 = compare_models()

In [14]:
# tuned_model_3 = tune_model(best_model_3)

#### 4. stroke_data

In [15]:
df_stroke = pd.read_csv('dataset/stroke_data.csv')
df_stroke.head()

,sex,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1.0,63.0,0,1,1,4,1,228.69,36.6,1,1
1,1.0,42.0,0,1,1,4,0,105.92,32.5,0,1
2,0.0,61.0,0,0,1,4,1,171.23,34.4,1,1
3,1.0,41.0,1,0,1,3,0,174.12,24.0,0,1
4,1.0,85.0,0,0,1,4,1,186.21,29.0,1,1

In [16]:
setup_4 = setup(data=df_stroke, target='stroke')

In [17]:
best_model_4 = compare_models()

In [18]:
# tuned_model_4 = tune_model(best_model_4)

#### 5. hypertension_data

In [19]:
df_hypertension = pd.read_csv('dataset/hypertension_data.csv')
df_hypertension.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,57.0,1.0,3,145,233,1,0,150,0,2.3,0,0,1,1
1,64.0,0.0,2,130,250,0,1,187,0,3.5,0,0,2,1
2,52.0,1.0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56.0,0.0,1,120,236,0,1,178,0,0.8,2,0,2,1
4,66.0,0.0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [20]:
setup_5 = setup(data=df_hypertension, target='target')

In [21]:
best_model_5 = compare_models()

In [22]:
# tuned_model_5 = tune_model(best_model_5)